<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Promilek</title>
    <link th:href="@{submit.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" r></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Calculator</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/list" class="nav-link">List of alcohols</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Register</a>
            </li>
        </ul>
    </div>
</nav>
<form class="main-form needs-validation" novalidate action="#" enctype="multipart/form-data" th:action="@{/calculate}" th:object="${calculationModel}" method="post" id="form">

    <legend class="display-4">Calculate</legend>

    <div class="row">
        <div class="col">
            <label for="weight">Your weight:</label>
            <div class="input-group">
                <input class="form-control" id="weight" type="number" step="0.5" th:field="*{weight}" min="1" required/>
                <div class="input-group-append">
                    <span class="input-group-text"> kg </span>
                </div>
                <div class="invalid-feedback">Enter correct weight</div>
            </div>

            <label for="height">Your height:</label>
            <div class="input-group">
                <input class="form-control" id="height" type="number" step="0.5" th:field="*{height}" min="1" required/>
                <div class="input-group-append">
                    <span class="input-group-text"> m </span>
                </div>
                <div class="invalid-feedback">Enter correct height</div>
            </div>

            <div class="form-group">
                <label for="age">Your age:</label>
                <input class="form-control" id="age" type="number" step="1" th:field="*{age}" min="18" required/>
                <div class="invalid-feedback">Enter age above 18</div>
            </div>

            <p>Choose your gender: </p>

            <div class="form-check">
                <input class="radio" type="radio" name="formS" id="male" value="true"
                       onclick="radioValueSex()" required>
                <label class="form-check-label" for="male">male</label>

                <input type="radio" name="formS" id="female" value="false" onclick="radioValueSex()" required>
                <label for="male">female</label>

                <div class="invalid-feedback">Choose your gender</div>

            </div>

            <p>Insert amount of alcohol and percentage: </p>

            <div class="field_wrapper">
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control" type="number" name="field_name[]" value="" step="10" min="1" required/>
                            <div class="input-group-append">
                                <span class="input-group-text"> ml </span>
                            </div>
                            <div class="invalid-feedback">Enter correct amount of alcohol</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input class="form-control" type="number" name="field_percentage[]" step="0.1"
                                   min="1" required/>
                            <div class="input-group-append">
                                <span class="input-group-text"> % </span>
                            </div>
                            <div class="invalid-feedback">Enter correct power of alcohol</div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="javascript:void(0);" class="add_button" title="Add field"><p class="font-weight-bold">
                            +</p></a>
                    </div>
                </div>
            </div>
            <!--    Invisible fields-->
            <p><input id="amount-of-alcohol" type="hidden" th:field="*{amountOfAlcohol}"/></p>
            <p><input id="metabolysm-parameter" type="hidden" th:field="*{metabolysmParameter}"/></p>
            <p><input id="food-parameter" type="hidden" th:field="*{foodParameter}"/></p>
            <p><input id="sex" type="hidden" th:field="*{sex}"/></p>
            <!--    Invisible fields-->
        </div>
        <div class="col">
            <div class="form-group">
                <label for="start-date">Start date:</label>
                <input class="form-control" type="date" id="start-date" name="startdate" th:field="*{startDate}" required/>
                <div class="invalid-feedback">Enter correct date</div>
            </div>

            <div class="form-group">
                <label for="start-time">Start time:</label>
                <input class="form-control" type="time" id="start-time" name="starttime" th:field="*{startTime}" required/>
                <div class="invalid-feedback">Enter correct date</div>
            </div>

            <div class="form-group">
                <label for="end-date">End date:</label>
                <input class="form-control" type="date" id="end-date" name="enddate" th:field="*{endDate}" required/>
                <div class="invalid-feedback">Enter correct date</div>
            </div>

            <div class="form-group">
                <label for="end-time">Start time:</label>
                <input class="form-control" type="time" id="end-time" name="endtime" th:field="*{endTime}" required/>
                <div class="invalid-feedback">Enter correct date</div>
            </div>

            <p>How fast do you burn alcohol?</p>

            <div class="form-check">

                <input class="radio" type="radio" name="formA" id="slowly" value="1" required>
                <label class="form-check-label" for="slowly">slowly</label>

                <input type="radio" name="formA" id="normally" value="2" required>
                <label for="normally">normally</label>

                <input type="radio" name="formA" id="quickly" value="3" required>
                <label for="quickly">quickly</label>

                <div class="invalid-feedback">Please any answer</div>

            </div>

            <p>How much did you eat before drinking?</p>

            <div class="form-check">
                <input class="radio" type="radio" name="formF" id="nothing" value="1" required>
                <label class="form-check-label" for="slowly">nothing</label>

                <input type="radio" name="formF" id="some-food" value="2" required>
                <label for="normally">normally</label>

                <input type="radio" name="formF" id="a lot food" value="3" required>
                <label for="quickly">a lot</label>

                <div class="invalid-feedback">Please any answer</div>

            </div>

            <p><input class="btn btn-primary" type="submit" value="Submit"
                      onclick="calculateAlcoholKGrams(), callAll()"/>
                <input class="btn btn-danger" type="reset" value="Reset"/></p>
            <!--            <div class="g-recaptcha" data-sitekey="6LepSVIcAAAAAAe3o78Oa6KdH7ii0Xd_IKbWVj5b"></div>-->
        </div>
    </div>
</form>
</body>
<script>

    var form = document.querySelector('.needs-validation');

    form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    })

    $(document).ready(function () {
        var maxField = 15; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = ' <div class="field_wrapper">\n' +
            '                <div class="row">\n' +
            '                    <div class="col">\n' +
            '                        <div class="input-group">\n' +
            '                        <input class="form-control" type="number" name="field_name[]" value="" step="50" min="0" required/>\n' +
            '                            <div class="input-group-append">\n' +
            '                                <span class="input-group-text"> ml </span>\n' +
            '                            </div>                            ' +
            '                           <div class="invalid-feedback">Enter correct amount of alcohol</div>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="col">\n' +
            '                        <div class="input-group">\n' +
            '                        <input class="form-control" type="number" name="field_percentage[]" value="" step="0.1" min="0" required/>\n' +
            '                            <div class="input-group-append">\n' +
            '                                <span class="input-group-text"> % </span>\n' +
            '                            </div>\n' +
            '                           <div class="invalid-feedback">Enter correct power of alcohol</div>\n' +
            '                        </div>\n' +
            '                    </div>' +
            '                   <div class="col">' +
            '                       <a href="javascript:void(0);" class="remove_button">' +
            '                           <p class="font-weight-bold">-</p>' +
            '                       </a>' +
            '                   </div>' +
            '               </div>'; //New input field html
        var x = 1; //Initial field counter is 1

        //Once add button is clicked
        $(addButton).click(function () {
            //Check maximum number of input fields
            if (x < maxField) {
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });

        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });

    function callAll() {
        radioValueAlcoholMetabolysm();
        radioValueFoodParameter();
        radioValueSex();
    }

    function radioValueAlcoholMetabolysm() {
        var ele = document.getElementsByName('formA');

        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("metabolysm-parameter").value = ele[i].value;
        }
    }

    function radioValueFoodParameter() {
        var ele = document.getElementsByName('formF');

        for (let i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("food-parameter").value = ele[i].value;
        }
    }

    function radioValueSex() {
        var ele = document.getElementsByName('formS');

        for (let i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("sex").value = ele[i].value;
        }
    }

    function calculateAlcoholKGrams() {
        var sum = 0;
        var ele = document.getElementsByName('field_name[]');
        var ele1 = document.getElementsByName('field_percentage[]')
        for (let i = 0; i < ele.length; i++) {
            sum += ele[i].value * ele1[i].value / 100;
        }
        document.getElementById("amount-of-alcohol").value = sum;
    }
</script>
</html>