<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Promilek</title>
    <link th:href="@{submit.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" r></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<form class="pl-5" action="#" enctype="multipart/form-data" th:action="@{/submit}" th:object="${submit}" method="post"
      id="form">

    <legend class="display-4">Calculate</legend>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="weight">Your weight:</label>
                <input class="col-xs-2" type="number" id="weight" step="0.01"
                       th:field="*{weight}"/>
            </div>

            <div class="form-group">
                <label for="height">Your height:</label>
                <input class="col-xs-2" id="height" type="number" number="3" step="0.01" th:field="*{height}"/>
            </div>

            <div class="form-group">
                <label for="age">Your age:</label>
                <input class="col-xs-2" id="age" type="number" step="0.01" th:field="*{age}"/>
            </div>

            <p>Choose your sex: </p>

            <div class="form-check form-check-inline">
                <input type="radio" name="formS" id="male" value="true" onclick="radioValueSex()">
                <label for="male">male</label>

                <input type="radio" name="formS" id="female" value="false" onclick="radioValueSex()">
                <label for="male">female</label>
            </div>

            <p>Insert amount of alcohol and percentage: </p>

            <div class="field_wrapper">
                <div>
                    <input type="number" name="field_name[]" value="" step="0.01"/><input type="number"
                                                                                          name="field_percentage[]"
                                                                                          value=""
                                                                                          step="0.01"/>
                    <a href="javascript:void(0);" class="add_button" title="Add field"><img src="add-icon.png"/></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <!--    Invisible fields-->
            <p><input id="amount-of-alcohol" type="hidden" th:field="*{amountOfAlcohol}"/></p>
            <p><input id="metabolysm-parameter" type="hidden" th:field="*{metabolysmParameter}"/></p>
            <p><input id="food-parameter" type="hidden" th:field="*{foodParameter}"/></p>
            <p><input id="sex" type="hidden" th:field="*{sex}"/></p>
            <!--    Invisible fields-->

            <div class="form-group">
                <label for="start-date">Start date:</label>
                <input type="date" id="start-date" name="startdate" th:field="*{startDate}"/>
            </div>

            <div class="form-group">
                <label for="start-time">Start time:</label>
                <input type="time" id="start-time" name="starttime" th:field="*{startTime}">
            </div>

            <div class="form-group">
                <label for="end-date">End date:</label>
                <input type="date" id="end-date" name="enddate" th:field="*{endDate}"/>
            </div>

            <div class="form-group">
                <label for="end-time">Start time:</label>
                <input type="time" id="end-time" name="endtime" th:field="*{endTime}">
            </div>

            <p>How fast do you burn alcohol?</p>

            <div class="form-check form-check-inline">

                <input type="radio" name="formA" id="slowly" value="1">
                <label for="slowly">slowly</label>

                <input type="radio" name="formA" id="normally" value="2">
                <label for="normally">normally</label>

                <input type="radio" name="formA" id="quickly" value="3">
                <label for="quickly">quickly</label>
            </div>

            <p>How much did you eat before drinking?</p>

            <div class="form-check form-check-inline">
                <input type="radio" name="formF" id="nothing" value="1">
                <label for="slowly">nothing</label>

                <input type="radio" name="formF" id="some-food" value="2">
                <label for="normally">normally</label>

                <input type="radio" name="formF" id="a lot food" value="3">
                <label for="quickly">a lot</label>
            </div>

            <p><input class="btn btn-primary" type="submit" value="Submit"
                      onclick="calculateAlcoholKGrams(), callAll()"/>
                <input class="btn btn-danger" type="reset" value="Reset"/></p>
            <!--            <div class="g-recaptcha" data-sitekey="6LepSVIcAAAAAAe3o78Oa6KdH7ii0Xd_IKbWVj5b"></div>-->
        </div>
    </div>
</form>
</body>
<script>

    $(document).ready(function () {
        var maxField = 15; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div><input type="number" name="field_name[]" value="" step="0.01"/><input type="number" name="field_percentage[]" value="" step="0.01"/><a href="javascript:void(0);" class="remove_button"><img src="remove-icon.png"/></a></div>'; //New input field html
        var x = 1; //Initial field counter is 1

        //Once add button is clicked
        $(addButton).click(function () {
            //Check maximum number of input fields
            if (x < maxField) {
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
            }
        });

        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });

    function callAll() {
        radioValueAlcoholMetabolysm();
        radioValueFoodParameter();
        radioValueSex();
    }

    function radioValueAlcoholMetabolysm() {
        var ele = document.getElementsByName('formA');

        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("metabolysm-parameter").value = ele[i].value;
        }
    }

    function radioValueFoodParameter() {
        var ele = document.getElementsByName('formF');

        for (let i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("food-parameter").value = ele[i].value;
        }
    }

    function radioValueSex() {
        var ele = document.getElementsByName('formS');

        for (let i = 0; i < ele.length; i++) {
            if (ele[i].checked)
                document.getElementById("sex").value = ele[i].value;
        }
    }

    function calculateAlcoholKGrams() {
        var sum = 0;
        var ele = document.getElementsByName('field_name[]');
        var ele1 = document.getElementsByName('field_percentage[]')
        for (let i = 0; i < ele.length; i++) {
            sum += ele[i].value * ele1[i].value / 100;
        }
        document.getElementById("amount-of-alcohol").value = sum;
    }
</script>
</html>